body {
  background-color: lightgray;
}

.header {
  height: 40px;  
}

.addresssettings {
  margin-top: 50px;
}

.footer {  
  margin-left: 24px;
  margin-top: 10px;
  height: 70px;
  width: 100%;    
  position: absolute;
	bottom: 0; 
}

.dropdownright{
  left: 0px !important;
}

.routeselection {
  margin-left: 24px;  
}

 .footer > form {
    padding-top: 10px;
  }

.routebutton {
  margin-right: 20px;
}

.routebuttons {
  margin-top: 10px;
}

.content {
  width: 100%;    
  top: 40px;
  bottom: 70px;
  position:absolute;   
  overflow: auto;   
}

.clear {
  height: 70px;
}

.containerapp {
  min-height: 100%;
	position: relative;
	overflow: hidden;  
}

.hcenter {
  text-align: center;
}

.settingscontent {
  padding: 24px;  
}
