body {
  background-color: white;
}

.header {
  height: 61px; 
}

.headerleft {
  margin: 6px;
}

.headerright {
  margin: 8px;
  color: black;
}

.addresssettings {
  margin-top: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.no-padding {
  padding: 0px;
}

.dropdownright{
  left: 0px !important;
}

.routeselection {
  margin-left: 24px;  
}

 .footer > form {
    padding-top: 10px;
  }

.routebutton {
  margin-right: 20px;
}

.routebuttons {
  margin-top: 10px;
}

.content {
  width: 100%;    
  height: 80vh;
}

.clear {
  height: 70px;
}

.containerapp {
  min-height: 100%;
	position: relative;
	overflow: hidden;  
}

.hcenter {
  text-align: center;
}

.settingscontent {
  padding: 24px;  
}
